APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=

GRANT_TYPE=password
CLIENT_ID=2
CLIENT_SECRET=

ALGOLIA_APP_ID=
ALGOLIA_SECRET=

UNSPLASH_ID=d5b6cf02c303e11d6a2beb3e23277c88e9d21e43cbdf96684c4c09fdd76cb72e
UNSPLASH_SECRET=fc6f20334601f575083206fb63bbd7f0d0248ffbc3a9465761c147b97944f589
UNSPLASH_CALLBACK_URL=http://api.universe.rocketstart.ch/auth/unsplash/callback

AWS_KEY=
AWS_SECRET=
AWS_REGION=
AWS_BUCKET=